<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пациента</title>
</head>
<body>

<h2>Добавление пациента</h2>

<form th:action="@{/patients/create}" method="post">

    <label>Имя:
        <input type="text" name="firstName" required>
    </label>
    <br/><br/>

    <label>Фамилия:
        <input type="text" name="lastName" required>
    </label>
    <br/><br/>

    <label>Паспорт:
        <input type="text" name="passportNumber" required>
    </label>
    <br/><br/>

    <label>Телефон:
        <input type="text" name="phone" required>
    </label>
    <br/><br/>

    <label>Email:
        <input type="email" name="email" required>
    </label>
    <br/><br/>

    <label>Дата рождения:
        <input type="date" name="birthDate" required>
    </label>
    <br/><br/>

    <button type="submit">Создать</button>
</form>

<br>
<a th:href="@{/patients}">Назад</a>

</body>
</html>