<!doctype html>
<html lang="ru">
<head><meta charset="utf-8"><title>Пациенты</title></head>
<body>
<h1>Пациенты</h1>

<p><a href="/web/home">Главная</a></p>

<h2>Добавить пациента</h2>
<form method="post" action="/patients">
    <label>Имя: <input name="firstName" required></label><br/>
    <label>Фамилия: <input name="lastName" required></label><br/>
    <label>Паспорт: <input name="passportNumber"></label><br/>
    <label>Телефон: <input name="phone"></label><br/>
    <label>Email: <input name="email"></label><br/>
    <label>Дата рождения: <input type="date" name="birthDate"></label><br/>
    <button type="submit">Добавить</button>
</form>

<h2>Список пациентов</h2>
<table border="1" cellpadding="6">
    <thead>
    <tr>
        <th>ID</th><th>ФИО</th><th>Телефон</th><th>Email</th><th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${patients}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.lastName + ' ' + p.firstName}"></td>
        <td th:text="${p.phone}"></td>
        <td th:text="${p.email}"></td>

        <td>
            <form th:action="@{'/patients/delete/' + ${p.id}}" method="post">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>